html {
	background-color: grey;
	font-family: Helvetica;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.box {
	background-color: white;
	display: flex;
	justify-content: center;
	height: 20rem;
	width: 20rem;
	border: 1px solid black;
	border-radius: 5%;
}

.box:hover {
	background-color: yellow;
	border: .4rem solid red;
	width: 21rem;
	height: 21rem;
	margin: -1rem -1rem -1rem -1rem;
	z-index: 9;
	border-radius: 0%;
}

